:root {
    --primary-blue: #0A3A67;
    --white: #ffffff;
    --text-dark: #211313;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--text-dark);
    background-color: var(--white)
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

nav ul li {
    margin-bottom: 5px
   
}

.hero {
    position: relative;
    margin-top: 20px;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 30px;
    width: 100%;
    text-align: center;
    font-family: var(--heading-font);
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    padding: 10px 0;
    background-color: rgba(10, 58, 103, 0.8);  /* translucent dark blue bar */
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 10px;
    right: 10px;
    background-color: rgba(10, 58, 103, 0.8);
    color: white;
    padding: 8px;
    font-size: 1.2rem;
    line-height: 22px;
    border-radius: 4px;
}

.hero article img {
    position: relative;
    right: 5px;
    bottom: -4px;
    width: 149px;
    border: 4px solid rgb(105, 6, 6);
    float: right;
   
}

section h2 {
    text-align: center;
    background-color: var(--primary-blue);
    color: white;
    padding: 10px 0;
    margin-top: 40px;
    font-family: var(--heading-font);
    font-size: 2rem;
}

section p {
    padding: 15px 25px;
    font-size: 1.05rem;
    line-height: 1.8;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
    border-top: 2px solid var(--primary-blue);
}

footer p {
    margin-bottom: 15px;
    font-family: Lato;
    font-size: 1.3rem;
}

footer img {
    width: 70px;
    margin: 0 10px;
   
}

.socialmedia a {
  text-decoration: none;
  
}



