:root {
    --primary-blue: #0A3A67;
    --white: #ffffff;
    --text-dark: #211313;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: #0b4276;
}

header img { 
    margin-left: 90px;
}


nav ul {
    display: flex;
    justify-content: right;
    gap: 1rem;
    list-style: none ;
    margin: 20px;
    padding: 20px; 
    font-size: 1.2rem;
}

nav a {
    text-decoration: none;
    color: var(--white);
    
    font-family: Lato;
    padding: 10px;
}

body {
    font-family: var(--body-font);
    color: var(--text-dark);
    background-color: var(--white)
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

nav ul li {
    margin-bottom: 5px
   
}

.hero {
    position: relative;
    margin-top: 20px;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 30px;
    width: 100%;
    text-align: center;
    font-family: var(--heading-font);
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    padding: 10px 0;
    background-color: rgba(10, 58, 103, 0.8);  /* translucent dark blue bar */
}

.hero article {
    position: absolute;
    bottom: 55px;
    left: 30px;
    right: 30px;
    background-color: rgba(10, 58, 103, 0.8);
    color: white;
    padding: 25px;
    line-height: 22px;
    border-radius: 4px;
}

.hero article img {
    position: relative;
    right: 5px;
    bottom: -4px;
    width: 149px;
    border: 4px solid rgb(105, 6, 6);
    float: right; 
}

.history-grid {
    display: flex;  
}

.history-grid img {
    width: 150px;
    height: 130px; 
    margin-top: 15px;
    border: 4px solid rgb(105, 6, 6);
}

section h2 {
    text-align: center;
    background-color: var(--primary-blue);
    color: white;
    padding: 10px 0;
    margin-top: 40px;
    font-family: var(--heading-font);
    font-size: 2rem;
}

section p {
    padding: 15px 25px;
    font-size: 1.05rem;
    line-height: 1.8;
}

.adventure-image {
    display: flex;
    justify-content: center;
    gap: 4.5rem;
    margin-top: 1.5rem;  
}

.adventure-image figure {
    text-align: center;
}

.adventure-image img {
    width: 120px;
    height: 90px;
    display: block;
    border-radius: 3px;
}

.adventure-image figcaption {
    margin-top: 0.5rem;
    font-size: 0.9rem;
}
 
footer {
    background-color: #0b4276;
    color: var(--white);
    margin-top: 20px;
    padding: 10px 20px;
}

.footer-layer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p { 
    margin: 0; 
}

.socialmedia {
    display: flex;
    align-items: center;
    gap: 15px;
}

.socialmedia img {
    width: 24px;
    height: 24px;
}


.socialmedia a {
    text-decoration: none;
}