:root {
    --primary-blue: #0A3A67;
    --secondary-blue:#1068bb; 
    --overlay-blue: rgba(10, 58, 103, 0.8);
    --white: #ffffff;
    --accent1: #7a887a; 
    --accent2: #b5d4f1; 
    --accent3: rgba(245, 222, 179, 0.5);
    --body-font: Arial, Helvetica, sans-serif;
    --table-border:  #ddd;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: var(--secondary-blue);
    color: var(--white);
    padding: 0 50px ;
}

header img { 
    height: 145px;
}

nav ul {
    display: flex;
    justify-content: right;
    gap: 1rem;
    list-style: none ;
    margin: 20px;
    padding: 20px; 
    font-size: 1.2rem;
}

nav a {
    text-decoration: none;
    color: var(--white);
    font-family: Lato;
    padding: 10px;
}

body {
    font-family: var(--body-font);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

nav ul li {
    margin-bottom: 5px
}

footer {
    background-color: var(--secondary-blue);
    color: var(--white);
    margin-top: 20px;
    padding: 10px 305x;
    font-family: Lato;
}

.footer-layer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p { 
    margin: 0; 
    margin-left: 20px;
}

.socialmedia {
    display: flex;
    align-items: center;
    gap: 15px;
}

.socialmedia img {
    width: 24px;
    height: 24px;
}


.socialmedia a {
    text-decoration: none;
}



/* About Us*/

.hero {
    position: relative;
    margin-top: 5px;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 30px;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    color: var(--white);
    font-weight: bold;
    padding: 10px 0;
    background-color: var(--overlay-blue);
}

.hero article {
    position: absolute;
    bottom: 40px;
    left: 30px;
    right: 30px;
    background-color: var(--overlay-blue);
    color: var(--white);
    padding: 25px;
    line-height: 22px;
    border-radius: 4px;
}

.hero article img {
    right: 5px;
    bottom: 7px;
    width: 149px;
    border: 4px solid var(--accent1); 
    float: right; 
}

.history-grid {
    display: flex;  
}

.history-grid img {
    width: 170px;
    height: 130px; 
    margin-top: 20px;
    border: 4px solid var(--accent1); 
}

section h2 {
    text-align: center;
    color: var(--primary-blue);
    padding: 10px 0;
    margin-top: 40px;
}

section p {
    padding: 15px 25px;
    font-size: 1.05rem;
    line-height: 1.8;
}

.adventure-image {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 1.5rem;  
}

.adventure-image figure {
    text-align: center;
}

.adventure-image img {
    width: 120px;
    height: 90px;
    display: block;
    border-radius: 3px;
}

.adventure-image figcaption {
    margin-top: 0.5rem;
}
 


/* Contact Us */

.contact-info {
    text-align: center;
    max-width: 600;
    margin: 0 auto 2rem;
    padding-top: 15px;
    
}
.contact-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    padding-top: 50px;
}

.contact-wrapper form {
    flex: 1 1 48%;
    background: #f9f9f9;
    padding: 2rem;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem 2rem;
    align-items: center;
}

.contact-wrapper .map {
    flex: 1 1 48%;
}

.map iframe {
    width: 100%;
    height: 100%;
    min-height: 380px;
    border: none;
    border-radius: 8px;
}

.form-item {
    display: contents;
}

.form-item label {
    justify-self: start;
}

.form-item input[type="text"],
.form-item input[type="email"],
.form-item textarea {
    justify-self: stretch;
    width: 100%;
    padding: 0.7rem;
    border: 1px solid;
    border-radius: 6px;
    font-size: 1rem;
}

.form-item input[type="checkbox"],
.form-item input[type="radio"] {
    margin-right: 0.5rem;
    grid-column: 2;
}

.column2 {
    grid-column: 2;
}

form button {
    grid-column: 1 / -1;
    padding: 1rem;
    background-color: var(--primary-blue);
    color: var(--white);
    border: none;
    border-radius: 6px;
    font-size: 1.1rem;
    cursor: pointer;
}

.service-image {
    display: flex;
    justify-content: center;
    gap: 10rem;
    margin-top: 1.5rem;  
}

.service-image figure {
    text-align: center;
}

.service-image img {
    width: 120px;
    height: 90px;
    display: block;
    border-radius: 3px;
}

.service-image figcaption {
    margin-top: 0.5rem;
    font-size: 1rem;
}

.service h2 {
    text-align: center;
    background-color: var(--white);
    color: var(--text-dark);
    padding: 10px 0;
    margin-top: 20px;
    font-size: 2rem;
}




/* Home */

.index {
    position: relative;
    margin-top: 8px;
}

.index img {
    width: 100%;
    height: auto;
    display: block;
}

.index h1{
    position: absolute;
    top: 30px;
    background-color: var(--overlay-blue);
    margin-left:40px ;
    color: var(--white);
    padding: 1rem 1rem;
    border-radius: 6px;
    font-size: 1.8rem;
}

.index-cta {
    position: absolute;
    bottom: -1px;
    right: -100px;
    padding: 25px 30px;
    width: 500px;
    border-radius: 10px;
}

.index-cta p {
    margin: 0 0 15px 0;
    font-size: 15px;
    color: var(--secondary-blue);
    font-size: 1.5rem;
    font-family: cursive;
    font-style: italic ;
}

.index-btn {
    display: inline-block;
    background: var(--primary-blue); 
    color: var(--white);
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 700;
}

.features {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 60px ;
}

.feature img {
    width: 200px;
    height: 200px;
    border: 5px solid var(--accent1); 
}

.feature h4 {
    margin-top: 10px;
}

 .thriller{
    background-color: var(--overlay-blue);
    justify-content: center;
    align-items: center;
    padding: 50px 80px 50px ;
    border-radius: 5px;
}

.card {
    position: relative;
    width: 600px; 
}

.card-image {
    width: 65%;
    height: auto;
    display: block;
    border-radius: 5px;
}

.content-box {
    position: absolute;
    bottom: 30px; 
    right: -50px; 
    width: 350px;
    background-color: var(--accent1);
    color: var(--white);
    padding: 30px;
    border-radius: 5px;
}

.content-box h1 {
    font-size: 1.5rem;
    margin-top: 0;
    color: var(--white);
    text-align: center;
}

.content-box p {
    font-size: 0.9rem;
    line-height: 1.4;
    margin-bottom: 20px;
    color:var(--white);
    text-align: center;
    padding-top: 5px;
}

.join-btn {
    display: inline-block;
    background-color: var(--overlay-blue);  
    color: var(--white);
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 3px;
    font-weight: 700;
}

.newsletters {
    padding: 20px;
    border-radius: 5px;
    max-width: auto;
    margin: 20px auto;
}

.newsletter-form {
    display: flex; 
    gap: 10px; 
    margin-top: 15px;
}

.newsletter-form input,
.newsletter-form input[type="email"] {
    flex-grow: 1;
    border: 1.5px solid var(--accent1);
    border-radius: 5px;
}

.newsletter-form button {
    padding: 12px 20px;
    background-color: var(--primary-blue); 
    color: var(--white);
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .newsletter-form {
        flex-direction: column; 
    }
}

/* Trips */

.hero-trips {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 40px;
    align-items: center;
    margin-top: 8px;
}

.hero-box img.hero-img {
    width: 100%;
    border-radius: 8px;
}

.hero-msg {
    padding: 20px;
    background-color: var(--accent2);
    text-align: center;
    box-shadow:0 2px 8px var(--accent3)
}

.hero-trips .action-button {
    display: inline-block;
    background-color: var(--primary-blue);
    color: var(--white);
    padding: 0.8rem 1.4rem;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
}

.tripsh{
    text-align: center ;
    margin-bottom: 20px;

}
.trip-descriptions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 50px;
}

.trip-card {
    border: 1px solid var(--table-border);
    border-radius: 8px;
    overflow: hidden;
    box-shadow:0 2px 8px var(--accent3);
    transition: transform 0.3s ease;
}

.trip-card:hover {
    transform: translateY(-5px);
}

.trip-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.trip-card h3, .trip-card p {
    padding: 15px;
}

.table-container {
    overflow-x: auto;
    margin-bottom: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid var(--table-border);
    padding: 12px;
    text-align: left;
}

thead th {
    background-color: var(--accent2)
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

@media screen and (max-width: 768px) {
    .hero-trips {
        grid-template-columns: 1fr;
    }
}
