:root {
    --color1: white;
    --color2: black;
    --color3: darkblue;
    --height: auto;
    --alignment: center;
}

nav {
    background-color: var(--color3);
    padding: 10px;
}

nav a {
    color: var(--color1);
    display: block;
    padding: 20px;
}


h1 {
    color: var(--color3);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid var(--color2);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}


main {
    max-width: 840px;
}

aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: var(--color1);
    color: #333;
    text-align: var(--alignment);
}

aside img {
    width: 200px;
    height: var(--height);
}

main img {
    width: 150px;
    height: var(--height);
    border: 1px solid var(--color2);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {padding: 0;}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--color2);
    text-align: var(--alignment);
}