:root{
    --primary-color: darkblue;
    --secondary-color: white;
    --accent-color: #eee;
    --text-color: #333;
    --shadow-color: gray;

    --padding-small: 10px;
    --paddig-medium: 20px;

    --max-width: 840px;

    --border-color: rgba(0, 0, 0.2);
}


nav {
    background-color: var(--primary-color);
    padding: var(--padding-small);
}

nav a {
    color: var(--secondary-color);
    display: block;
    padding: var(--paddig-medium);
}

h1 {
    color: var(--primary-color);
}

main img {
    width: 150px;
    height: auto;
    padding: 2px;
    box-shadow: 0 0 30px var(--shadow-color);
}

p {
    padding:0;
}

main {
    max-width: var(--max-width);
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid var(--border-color);
    padding: 1rem;
    background-color: var(--accent-color);
    color: var(--text-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: left;
}