*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --color1: white;
    --color2: black;
    --color3: rgb(29, 73, 97);
    --height: auto;
    --alignment: center;
}

nav {
    background-color: var(--color3);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: var(--color1);
    display: block;
    padding: 20px;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}


h1 {
    color: var(--color3);
    border-bottom: 1px solid var(--color3);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid var(--color2);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}


main { 
    padding: 15px;
}

aside {
    width: 20rem;
    text-align: var(--alignment);
    position: relative;
    grid-column: 1;
    grid-row: 1;
   
}

aside h2 {
    position: absolute;
    top: 35px;
    left: 60px;
    color: var(--color1);
    
}

aside img {
    width: 200px;
    height: var(--height);
}

header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

main img {
    width: 150px;
    height: var(--height);
    border: 1px solid var(--color2);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

aside h2 {
    
}


p {padding: 0;}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--color2);
    text-align: var(--alignment);
}

/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    background-color: rgb(168, 189, 229);
    color: var(--color2);
    
    
}